@font-face {
    font-family: "Montserrat";
    src: url("../../oneplus/fonts/Montserrat-Regular.ttf");
   }
@font-face {
   font-family: "Montserrat";
   src: url("../../oneplus/fonts/Montserrat-Light.ttf");
   font-weight: 300;
  }
@font-face {
    font-family: "Montserrat";
    src: url("../../oneplus/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
   }
@font-face {
   font-family: "Montserrat";
   src: url("../../oneplus/fonts/Montserrat-Bold.ttf");
   font-weight: 700;
  }
