.teaser {
  position: relative;
  background: linear-gradient(180deg, #C8C8C8 0%, #D8D8D8 100%);

  .images {
    display: flex;
    padding-top: 100px;
    .left, .right {
      margin-bottom: RelativeUnits(-120, 1);
      overflow: hidden;
    }
    .left {
      z-index: 2;
      @include width(1092);
    }
    .right {
      z-index: 1;
      @include width(977);
      margin-left: RelativeUnits(-200, 1);
      width: 50%;
    }
  }

  .logo {
    position: absolute;
    top: 68px;
    left: calc(50% - #{RelativeUnits(280, 0.5)});
    @include width(480, 0.5);
    z-index: 3;
  }
}
