.teaser {
  position: relative;
  background: linear-gradient(180deg, #C8C8C8 0%, #D8D8D8 100%);

  .images {
    display: flex;
    padding-top: 100px;
    .left, .right {
      margin-bottom: RelativeUnits(-120, 1);
      overflow: hidden;
    }
    .center {
      display: none;
    }
    .left {
      z-index: 2;
      @include width(1092);
    }
    .right {
      z-index: 1;
      @include width(977);
      margin-left: RelativeUnits(-200, 1);
      width: 50%;
    }
  }

  .logo {
    position: absolute;
    top: 68px;
    left: calc(50% - #{RelativeUnits(280, 0.9)});
    @include width(480, 0.9);
    z-index: 3;
  }

  @include _phone-big {
    .images {
      width: 100vw;
      .center {
        width: 100%;
        display: block;
        margin-top: 23vw;
        img {
          width: 107%;
          max-width: 107%;
        }
      }
      .right, .left {
        display: none;
      }
    }

    .logo {
      width: 55vw;
      height: 37vw;
      left: calc(50% - 27.5vw);
    }
  }
}
