$mont: 'Montserrat', sans-serif;

html {
	    font-family: $mont;
			overflow-x: hidden;
			width: 100vw;

			a {
				text-decoration: none;
        cursor: pointer;
			}

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}
      p {
        @include FontLineSize(0.1, 0.1, 0.8, 14, 10);
				font-weight: 600;
      }
      h2 {
        @include FontLineSize(0.4, 0.4, 0.3, 48, 8);
				text-transform: uppercase;
				font-weight: 500;
      }
      h3 {
        @include FontLineSize(0.3, 0.3, 0.4, 36, 8);
				font-weight: 500;
      }
}
